* { box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

body, input, textarea, button {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 200;
}

form {
  margin: 3rem 0;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}

fieldset {
  border: none;
}

legend {
  font-size: 0;
}

input {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}

@media only screen and (min-width: 600px) {
  form {
    padding: 4rem 3rem;
  }
  
  input {
    width: 8rem;
    height: 4rem;
    font-size: 3rem; 
  }
  
  input + input {
    margin-left: 1rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#btn {
  width: 60px;
  font-weight: bold;
  color: white;
  background: linear-gradient(145deg, green, #64f211);  
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}

#btn-info {
  width: 60px;
  font-weight: bold;
  color: white;
  background: linear-gradient(145deg, #e6b000, #ffdd00);
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}


#btn-next {
  width: 70px;
  font-weight: bold;
  color: white;
  background: linear-gradient(145deg, #3a66cc, #6894ce);
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}


 /* INDICATORS */
/* 
body {
  background: #1d1f20;
  text-align: center;
  color: #FFF;
  font: 12px/14px sans-serif;
} */
 
/* scss https://codepen.io/berkmansjohnny/pen/LzXbPV */
/* css https://codepen.io/telychko-mykola/pen/xbKgKPy */
.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.indicators span {
  /* display: inline-block;
  padding: 5px 10px;
  background: #333;
  border-radius: 5px;
  color: #FFF; */
}

.indicator {
  display: inline-block;
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add glow effect */
}

.--succes {
  background: #00d563;
  border: 1px solid #00b34d;
  box-shadow: 0 0 10px #00d563;
}

.--info {
  background: #4c84ff;
  border: 1px solid #3a66cc;
  box-shadow: 0 0 10px #4c84ff;
}

.--warning {
  background: #ffc400;
  border: 1px solid #e6b000;
  box-shadow: 0 0 10px #ffc400;
}

.--error {
  background: #fd2f51;
  border: 1px solid #d92444;
  box-shadow: 0 0 10px #fd2f51;
}

.--offline {
  background: #dfe1e9;
  border: 1px solid #bfc2ca;
  box-shadow: 0 0 10px #dfe1e9;
}
 /* INDICATORS */
