* { box-sizing: border-box; }

body {
  height: 600vh; /* Set a height greater than the viewport height */
  overflow-y: scroll; /* Enable vertical scrolling */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding: 1rem;
}

/* Optional: Customize scrollbar style */
::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background-color: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

body, input, textarea, button {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 200;
}

form {
  margin: 3rem 0;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}

fieldset {
  border: none;
}

legend {
  font-size: 0;
}

input {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}

@media only screen and (min-width: 600px) {
  form {
    padding: 4rem 3rem;
  }
  
  input {
    width: 8rem;
    height: 4rem;
    font-size: 3rem; 
  }
  
  input + input {
    margin-left: 1rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#btn {
  width: 60px;
  font-weight: bold;
  color: white;
  background: linear-gradient(145deg, green, #64f211);  
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}
#btn-info {
  width: 60px;
  font-weight: bold;
  color: white;
  background: linear-gradient(145deg, #e6b000, #ffdd00);
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}
#btn-next {
  width: 70px;
  font-weight: bold;
  color: white;
  background: linear-gradient(145deg, #3a66cc, #6894ce);
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}

 /* INDICATORS -- start */
/* 
body {
  background: #1d1f20;
  text-align: center;
  color: #FFF;
  font: 12px/14px sans-serif;
} */
 
/* scss https://codepen.io/berkmansjohnny/pen/LzXbPV */
/* css https://codepen.io/telychko-mykola/pen/xbKgKPy */
.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.indicators span {
  /* display: inline-block;
  padding: 5px 10px;
  background: #333;
  border-radius: 5px;
  color: #FFF; */
}

.indicator {
  display: inline-block;
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add glow effect */
}

.--succes {
  background: #00d563;
  border: 1px solid #00b34d;
  box-shadow: 0 0 10px #00d563;
}
.--info {
  background: #4c84ff;
  border: 1px solid #3a66cc;
  box-shadow: 0 0 10px #4c84ff;
}
.--warning {
  background: #ffc400;
  border: 1px solid #e6b000;
  box-shadow: 0 0 10px #ffc400;
}
.--error {
  background: #fd2f51;
  border: 1px solid #d92444;
  box-shadow: 0 0 10px #fd2f51;
}
.--offline {
  background: #dfe1e9;
  border: 1px solid #bfc2ca;
  box-shadow: 0 0 10px #dfe1e9;
}
 /* INDICATORS -- end */


 html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
.wrapper {
	margin: 0 auto;
	/* min-width: 600px;
	max-width: 920px; */
	position: relative;

	&.blur {
		filter: blur(4px);
	}
}
.content-wrapper {
	&:last-child {
		margin-bottom: 100px;
	}
}

.grid-container {
	padding: 20px;
	.gc-1 {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 40px;
	/* 	@media screen and (max-width: 550px) {
		  grid-template-columns: 1fr;
		} */
		
/* 		@media screen and (min-width: 550px) and (max-width: 950px) {
		  grid-template-columns: 1fr 1fr;
		} */
	}

	.grid {
		height: 500px;
        width: 600px;
      
		padding: 20px;
		border: 1px solid #f4f4f4;
		border-radius: 15px;
		box-shadow: 2px 2px 40px -12px #999;
		cursor: pointer;
		position: relative;

		.upper-headline {
			text-transform: uppercase;
			font-size: .8em;
			word-spacing: 2px;
			color: #999;
			margin-bottom: 5px;
		}
		.headline {
			font-size: 1.5em;
			font-weight: 900;
			line-height: 1.3;
			margin-bottom: 5px;
		}
		.content {
			&.atd {
				margin-top: 30px;
				text-transform: uppercase;
				font-size: 3em;
				font-weight: 900;
			}
		}

		.footline {
			font-size: .85em;
			position: absolute;
			bottom: 15px;
			font-family: 'Raleway', sans-serif;
			.head {
				font-weight: 900;
				margin-bottom: 5px;
			}
		}
	}
}

/* TABLE -- start */ 
     table {
            border-collapse: collapse;
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
/* TABLE -- end */ 


/* KEYBOARD -- START */
html, body{
  width: 100%;
  /* height: 100%; */
  /* font-family: 'PT Sans', sans-serif; */
  justify-content: center;
  text-align: center;
  margin: 0;
  /* overflow: hidden; */
}
html{
/*   background: linear-gradient(45deg, #1a406f8c, #a8988f7a),
              linear-gradient(225deg, #ff417685, #58a39dcc),
              linear-gradient(330deg, #1a3c6f, #089d1c); */
}
body{
/*   background: linear-gradient(180deg, #0e0d12d9 30%, #00000000 100%);
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  justify-content: center;
  line-height: 2.75; */
}
body div{
  color: #888888;
}
p{ margin: 0; }
::placeholder {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff50;  
}
.object{
    /* height: 100%; */
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter-grid{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 0 auto 0;
}
.enter-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 38vh;
    font-size: 16px;
    color: #5ff5b8;
    background: linear-gradient(180deg, #0000007a, #0000007a);
    box-shadow: 0 0 5vw 0 #0000005c;
    border: 0;
    border-radius: 0;
    cursor: text;
    transition: .4s;
    padding: .9vh 1vw;
    resize: none;
    overflow: hidden;
    outline: none;
    opacity: .6;
}

.keyboard{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0px 13px 12px 13px;
  background: linear-gradient(to top,#cdd1d3 0%,#d4d8db 70%,#e4e7e9 93%,#f4f6f7 96%,#c0c0c0 100%);
  box-shadow: 6px 6px 6px 1px #191a1e42;
  border-radius: 15px;
  animation: keyboard 1s ease-out forwards;
}
@keyframes keyboard {
  0%{
    transform: translate(0, 10%) scale(.86);
  }100%{
    transform: translate(0, -5%) scale(.86);
  }
}
.container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 6.2% 0 0 0;
}
.but{
  width: 60px;
  height: 52px;
  background: radial-gradient(#e2e2e2 0%,#eff0f2 75%,#f9f9f9 100%);
  box-shadow: 0px 2px 1px 0px hsla(80, 0%, 50%, 1);
  border: solid 1px #bcbfc1;
  border-radius: 8px;
  font-size: 15px;
  margin: 3.5px;
  user-select: none;
  cursor: pointer;
}
/* ---------------- row-1 ---------------- */
.button-1{
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 0;
}
.but-top{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 30px;
}
/* ---------------- row-2 ---------------- */
.button-2{
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 0;
  line-height: 3.2;
}
/* ---------------- row-3 ---------------- */
.button-3{
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 0;
  line-height: 3.4;
}
/* ---------------- row-4 ---------------- */
.button-4{
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 0;
  line-height: 3.4;
}
.capslock{
  width: 95px;
  height: 52px;
  text-align: left;
  padding: 0 10px;
  line-height: 3.5;
}
.circle{
  width: 5px;
  height: 5px;
  background: #636877;
  border-radius: 10px;
  margin: 6px 5px 0 0;
}
.circle-light{
  background: radial-gradient(#93ff66, #3bba14);
  box-shadow: 0 0 5px 5px hsla(116, 100%, 80%, .5);
}
.return{
  width: 95px;
  height: 52px;
  text-align: right;
  padding: 0 10px;
  line-height: 1.6;
  font-size: 12px;
}
.return p{
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 400;
}
/* ---------------- row-5 ---------------- */
.button-5{
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 0;
  line-height: 3.3;
}
/* ---------------- row-6 ---------------- */
.button-6{
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 0;
  line-height: 3.3;
}
.fn{
  width: 40px;
  height: 60px;
  text-align: left;
  padding: 0 10px;
  line-height: 5.8;
}
.control{
  width: 48px;
  height: 60px;
  padding: 0 7px;
  line-height: 5.8;
}

.arrowkey-grid{
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 30px 30px;
  grid-gap: 5px;
  margin: 0 5px;
  line-height: 2.2;
  font-size: 10px;
}
.arrowkey-grid > .but{
  font-size: 10px;
}
.◀{
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  height: 26px;
}

/* ---------------- effect ---------------- */
.but:active{
  color: white;
  text-shadow: 0px 0px 5px white;
  box-shadow: inset 0 0 100px 1px hsla(228, 10%, 0%,.1);
}
/* KEYBOARD -- END */

